<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Caesar - Encrypt your text easily!</title>
        <script src="https://kit.fontawesome.com/281213501c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
        {% block head %} {% endblock %}
    </head>
    
    <div class="navbar">
        <nav>
            <a class="navbar-item">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo.svg') }}" width="200" height="100"></a>
                <ul>
                    <li><a>Docs</a></li>
                </ul>
            </a>
        </nav>
    </div>

    {% block body %} 
        
    {% endblock %}

    <footer>
        <div class="footer-content">
            <p><strong>Caesar</strong> by <a>Paulina Castillo</a>, <a>María Sol Botello</a> and <a>Sebastian Molina</a>. </p>
        </div>
        <div class="footer-bottom">
            <p><span id="year"></span> © Caesar</p>
        </div>
    </footer>  

    <script>
        function getCurrentYear() {
        return new Date().getFullYear();
        };
    
        document.getElementById("year").innerHTML = getCurrentYear(); 
    </script>
    

</html>