<div class="container static-bottom" style="margin-top: 4em;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p><strong>Caesar</strong> by <a>Paulina Castillo</a> and <a>Sebastian Molina</a>. </p>
        <p><span id="year"></span> © Caesar</p>
  
      <!-- <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a> -->
  
    </footer>

    <script>
        function getCurrentYear() {
        return new Date().getFullYear();
        };
    
        document.getElementById("year").innerHTML = getCurrentYear(); 
    </script>
</div>