{% extends "base.html" %}

{% block head %} 

{% endblock %}

{% block body %}

    <div>
        <form method="POST" action="/" class="grid" novalidate>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <!-- <div class="dropdown" name="choose">
                <div class="select">
                    <span class="selected">Caesar cypher</span>  
                </div>
                <ul class="menu" name="mode">
                    <li name="caesar">Caesar cypher</li>
                    <li name="substitution">Substitution cypher</li>
                    <li name="permutation">Permutation cypher</li>
                    <li name="affine">Affine cypher</li>
                    <li name="vigenere">Vigenere cypher</li>
                </ul>
            </div> -->
            <div>
                {{ form.cypher_mode }}
            </div>

            <div class="input">
                {{ form.input_text(placeholder="Input your text here...") }}
            </div>
            <div class="input">
                {{ form.input_key(placeholder="Input your key 🗝️ here (optional)", class_="key") }}
            </div>

            <div class="buttons">
                <button class="text-btn encrypt" name="encrypt" value="encrypt">
                    <i class="fa-solid fa-lock"></i> Encrypt
                </button>
                <button class="text-btn decrypt" name="decrypt" value="decrypt">
                    <i class="fa-solid fa-lock-open"></i> Decrypt
                </button>
            </div>
            
        </form>     
    </div>
    
{% endblock %}