{% extends "base.html" %}

{% block title %} 
    <title>Caesar - Your text has been {{ encrypted_or_decrypted }}!</title>
{% endblock %}

{% block body %}

    <div class="h-100 d-flex align-items-center justify-content-center">
        
        <div>
            <h3>Your text has been {{ encrypted_or_decrypted }} succesfully!</h3>
            <h5 style="margin-top:1rem;">This is your text:</h5>
            <textarea class="textarea" name="output_text" style="margin-top: 0.25rem;" readonly>{{ output_text }}</textarea>
            <h5 style="margin-top:1rem;">This are your keys. Please keep them safe!</h5>
            <textarea class="textarea" name="output_key" style="margin-top: 0.25rem;" readonly>
Primes: {{ output_key[0] }} {{ output_key[1] }}  
Priv key : {{ output_key[2] }} 
Generator: {{ output_key[3] }}</textarea>
        </div>

    </div>

{% endblock %}